<ul class="comments">
	{% for comment in comments %}
	<li class="comment">
		<div class="comment-thumbnail">
			<a href="{{ url_for('.user', username=comment.author.username) }}">
				<img class="img-rounded profile-thumbnail" src="{{ comment.author.gravatar(size=20) }}"></a>
				<a href="{{ url_for('.user', username=comment.author.username) }}">{{ comment.author.username }}</a>: <span>{{ comment.body }}</span>


			<div class="comment-data">{{ moment(comment.timestamp).fromNow() }}</div>
		</div>
	</li>
	<br>
	{% endfor %}
</ul>